* {
  font-family: 'Noto Serif KR', serif;
}

body {
  width: 100vw;
  min-width: max-content;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  overflow: hidden;
  overflow-x:scroll;
}

a {
  text-decoration: none;
}


.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 390px 60px 80px;
  grid-template-areas: "image" "text";

  font-family: 'Noto Serif KR', serif;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
  margin: 20px;
}

.card-image {
  grid-area: image;
  background: url("현실적고민.jpeg");
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-size: cover;
}

.card-image2 {
  grid-area: image;
  background: url("로텐부르크시계탑.jpeg");
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-size: cover;
}

.card-image3 {
  grid-area: image;
  background: url("박물관을둘러보다.jpeg");
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-size: cover;
}

.card-image4 {
  grid-area: image;
  background: url("유연하라.jpeg");
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text h2{
  margin-top: 0px;
  font-size: 20px;
}

.card-text span {
  color: grey;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  font-family: sans-serif;

}

.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  font-family: sans-serif;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
