html {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(320deg, rgb(130, 194, 255), rgb(160, 211, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(15, 3, 70);
}

body {
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  background-attachment: fixed;
  font-family: "Noto Serif KR", serif;
}

/*스크롤바 안보이게 */
ul {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
ul::-webkit-scrollbar {
  display: none;
}

#title {
  text-align: center;
}

#game-title {
  display: flex;
  justify-content: center;
}

#game-title h1 {
  font-size: 28px;
  font-weight: 900;
}

.game-scene,
#game-info,
#synopsis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*min-height: 40vh;*/
  font-size: 18px;
  line-height: 1.4;
}

.game-scene .game-image img {
  border-radius: 10%;
}

.action,
#start-button {
  display: grid;
  justify-content: center;
}

button {
  background-color: rgba(13, 115, 199, 0.979);
  border: 0.5px solid transparent;
  border-radius: 25px;
  margin: 20px;
  padding: 15px;
  font-size: 16px;
  color: aliceblue;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0 !important;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.action input {
  display: grid;
  justify-content: center;
  font-size: 18px;
}

input {
  width: 100%; /* 원하는 너비 설정 */
  height: auto; /* 높이값 초기화 */
  line-height: normal; /* line-height 초기화 */
  padding: 0.5em 0.3em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
  font-family: inherit; /* 폰트 상속 */
  border: none; /*1px solid #999;*/
  border-radius: 5px; /* iSO 둥근모서리 제거 */
  outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
  -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}

input:focus {
  outline: none;
}
